.mail-compose {
    position: absolute;
    bottom: 30px;
    left: 40px;
    width: 550px;
    height: 440px;
    background-color: rgb(205, 194, 194);
    border-radius: 10px;
    border: 1px solid black;
    color: black;
}
.compose-header {
    width: 100%;
    height: 2em;
    margin-top: 1px;
    background-color: rgb(187, 189, 191);
    border-radius: 7px;
    text-align: center;
}

.compose-input {
    width: 90%;
    padding: 10px;
}

.compose-to {
    background-color: aliceblue;
    width: 85%;
    padding: 10px;
    margin-left: 23px;
}

.compose-title {
    background-color: aliceblue;
    width: 85%;
    padding: 10px;
    margin-left: 10px;
}

.compose-body {
    background-color: aliceblue;
    width: 85%;
    padding: 10px;
    margin-left: 40px;
    height: 200px;
}

.compose-futer {
    width: 80%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
}

.close-btn,
.compose-futer button{
    padding: 4px;
    font-size: 20px;
    background-color: antiquewhite;
    border: 2px solid black;
}

.close-btn:hover,
.compose-futer button:hover{
    cursor: pointer;
    background-color: rgb(214, 190, 158);
}
