.note-list {
    margin-block-start: 5rem;
    grid-template-columns: repeat(auto-fill, 231px);
    gap: 20px;
    margin-inline-start: 2rem;
}

.note-list>a {
    height: min-content;
}
.color-pallete{
    border-radius: 10px;
    width: 80%;
    height: 50px;
    background-color: #f3f3f3;
}
.color-btn{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.lightblue{background-color: lightblue;border: 1px solid lightblue;}
.lightgreen{background-color: lightgreen;border: 1px solid lightgreen;}
.goldenrod{background-color: goldenrod;border: 1px solid goldenrod;}
.lightsalmon{background-color: lightsalmon;border: 1px solid lightsalmon}
.lightcoral{background-color: lightcoral;border: 1px solid lightcoral}


/* LOADER  */
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}