.note-preview {
    width: 230px;
    min-height: 100px;
    max-height: fit-content;
    border-radius: 10px;
    justify-content: space-between;
    border: 0.5px solid #e0e0e0;
}
.note-preview > *,
.new-note span{
    font-family: sans-serif;
}
.note-txt > *{
    margin-inline-start: 1rem;
}
.note-img img{
    max-height: 190px;
    border-radius: 10px;
}
.note-img .text-container{
    margin-inline-start: 0.5rem;
    padding-block-end: 0.5rem;
}
.note-todos h1{
    text-align: center;
}
.note-todos ul{
    padding-left: 20px;
}
.note-todos ul li{
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.note-todos span{
    float: right;
}
.note-icons{
    margin-block-end: 0.5rem;
}
.note-icons > i{
    margin-inline-start: 1rem;
    cursor: pointer;
}