header {
    background: #606060;
    border-bottom: 2px solid white;
}
.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.logo{
    width: 90px;
    margin-left: 1rem;
}
.nav-apps{
    width: 32px;
    margin-right: 3rem;
    cursor: pointer;
}
nav a{
    margin-right: 1.5em;
}

nav a:active {
    color: #fff;
}

nav a.active {
    color: #b2a284;
    font-weight: bold;
    text-decoration: overline;
}
.opened-nav{
    position: absolute;
    top: 76px;
    right: 10px;
    width: 200px;
    height: 100px;
    background-color: white;
    border: 5px solid #e3e3e3;
}
.opened-nav i{
    font-size: 2rem;
    margin-block-end: .5rem;
}
.opened-nav a{
    margin: 1rem;
    padding: 1rem;
}
.opened-nav a:hover{
    background-color: #d8d7d7;
}